<html>
<head>
  <title>Login Form</title>
</head>
<style>
  body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 400px;
}

.login-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card label {
  text-align: left;
  margin-bottom: 8px;
  color: #555;
}

.login-card input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.login-card button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.error{
  color: red;
  font-weight: 600;
}

</style>
<body>
  <div class="container">
    <div class="login-card">
      <% if(error) { %>
        <div class="error"><%= error %></div>
      <% } %>
      <h2>Login</h2>
      <form method="post" action="/">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
  
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
  
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</body>
</html>
